<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Eurasian Arabic Studies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/issue">Issues
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Submit</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/content/0">Author Guidelines</a>
            <a class="dropdown-item" routerLink="/content/1">Submission side</a>
            <a class="dropdown-item" routerLink="/content/2">Open Access Policy</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/content/3">Purchase</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/content/7">Fees</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/content/4">About The Journal</a>
            <a class="dropdown-item" routerLink="/content/5">Editorial Board</a>
            <a class="dropdown-item" routerLink="/content/6">Terms And Conditions</a>
          </div>
        </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 my-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="container fixed-bottom">
  <div class="col-lg-12">
    <p>All Right Reserved</p>
  </div>
</footer>
<!--

<h1>EAS</h1>
<a routerLink="/issue">Issues</a>
<a routerLink="/content">Content</a>
<router-outlet></router-outlet>
-->
